/*
Creater: Dan Bonneville
Date created: 3/18/2019
Date Last modified:3/19/2019
*/
header, footer{
	background-color: #C16;
    color: #fef9ff;
	height: 20%;
	text-align: center; 
	padding: 10px 10px 0px 10px;
	text-shadow: -3px 0 black, 0 0px black, 0px 0 black, 0 -3px black;
}
header{
	font-family: Impact, fantasy, Arial;
	font-size: 400%;
}
footer{
	font-size: medium;
	font-style: italic;

}
body{
		background-color: rgb(220,220,220);
		
}
	